# Supabase Public API Configuration
NEXT_PUBLIC_SUPABASE_URL=https://etydagbznkeksqijjysb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_vIUK0cLVKw0NLP4j4rj2Ng_AtvaQ-p8

# JWT Secret for backend authentication
JWT_SECRET=ats-secret-key-smart-recruitment-2026

# Supabase PostgreSQL Database Connection Strings for Prisma
# Thay [YOUR-PASSWORD] bằng mật khẩu Database Supabase của bạn
DATABASE_URL="postgresql://postgres.etydagbznkeksqijjysb:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.etydagbznkeksqijjysb:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
